
<div id="demo2">
    <div class="container-fluid" >
        <div class="row">
            <div class="col-md-3 bg-body-secondary " >
                <div class="sidebar " id="demo" >
                    <ul class="nav flex-column">
                        <li class="nav-item" id="home">
                            <a class="nav-link active" routerLink="/admin/dashboard" >Home</a>
                
                        </li>  
                        <hr class="border-black">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/admin/adminproducts" >Products</a>
                        </li>
                        <hr class="border-black">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/admin/add-product">Add Product</a>
                        </li> 
                        <hr class="border-black">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/admin/orders">Orders</a>
                        </li> 
                    </ul>
                </div>
            </div>
          
        </div>
    </div>

</div>


<router-outlet></router-outlet>