#demo{
    background-color: lightblue;
    box-shadow: 2px 2px 5px black;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 17px;
    margin-top: 0;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 5px white ;
    text-align: center;
   font-weight: 200px;    

}